@font-face {
    font-family:'o';
    src: url('../fonts/o Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
}

@font-face {
    font-family:'o';
    src: url('../fonts/o Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
}

@font-face {
    font-family:'o';
    src: url('../fonts/o LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
}

@font-face {
    font-family:'o';
    src: url('../fonts/o Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
}

@font-face {
    font-family:'o';
    src: url('../fonts/o Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
}